<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TwoFactor.Properties.Settings.PrivacyConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=F:\project\FullProject\MultiFactor\MultiFactor\Privacy.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>